* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(157, 172, 189);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }
}